* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
nav{
    height: 80px;
    background-color: #222;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
}
nav ul{
    margin: auto;
    display: flex;
}
nav li{
    margin: 0 2vw;
    flex-direction: row;
    list-style-type: none;
}
nav li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: text-shadow 0.3s;
}
nav li a:hover {
  text-shadow: 0 0 50px white;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: white;
    height: 60px;
}
.logo {
  text-align: center;
  margin: auto;
}
.green {
  color: rgb(0, 255, 0);
}
.header-img {
  position: relative;
  height: 750px;
  background-image: url(./images/fura1.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 2px 2px 2px black;
}
.header-bg {
  height: 750px;
  background-color: rgba(0, 0, 0, 0.5);
}
.opis {
  margin: 3% 10%;
}
.opis h1 {
  margin-bottom: 20px;
}
.opis p {
  margin-bottom: 10px;
}
.sloped-info { 
  display: flex; 
  align-items: stretch; 
  justify-content: center; 
  width: 100%; 
  min-height: 300px; 
  background-color: #cccccc; 
  overflow: hidden; 
} 
/* Wszystkie trzy elementy */ 
.skew { 
  flex: 1; 
  min-width: 0; 
  min-height: 300px; 
  font-size: 20px; 
  transform: skew(-10deg); 
} 
/* LEWY TEKST */ 
.passion { 
  padding: 40px 30px 40px 8%; 
  text-align: right; 
} 
/* ŚRODEK - ZDJĘCIE */ 
.img { 
  flex: 0 1 650px; 
  display: flex; 
  align-items: stretch; 
  justify-content: center; 
  overflow: hidden; 
} 
.img img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block; 
} 
  /* PRAWY TEKST */ 
.goals { 
  padding: 40px 8% 40px 30px; 
  text-align: left; 
}
.siatka {
  width: 70%;
  margin: auto;
  padding: 75px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #222;
    border-radius: 5px;
    color: #fff;
}
.box:nth-child(even) {
  background-color: #00ff00;
}
.box i{
    font-size: 60px;
    display: block;
    width: 30%;
}
